.Model-Selector {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Model-Dropdown {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px;
}